@import url(../colors.css);
@import url(../button.css);

.Product {
    width: 250px;
    height: 400px;
    box-shadow: 0px 0px 3px 3px rgb(117, 116, 115);
    margin: 5px;
    padding: 25px;
    border-radius: 5px;

}

.Product img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.Product h1 {
    width: 200px;
    height: 50px;
    color: var(--primary-color);
}
.Product p {
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: var(--primary-color);
}
.Product button {
    width: 200px;
    height: 50px;
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Product button:hover {
    background-color: var( --button-color-hover);
}

.Product.night-mode {
    background-color: var(--night-mode-background-color); /* Используем переменную для фона в ночном режиме */
    color: var(--night-mode-text-color); /* Используем переменную для текстового цвета в ночном режиме */
}