@import url(../colors.css);
@import url(../mobile.css);
 
 .Basket {
    width: 100%;
    min-height: calc(100vh - 50px - 50px);
    background-color: var(--primary-background-color);
    
}

.Basket ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 30px;
}

.Basket li {
    list-style-type: none;
    width:250px;
    height: 350px;
    box-shadow: 0px 0px 3px 3px rgb(117, 116, 115);
    margin: 5px;
    padding: 25px;
    border-radius: 5px;
}

.Basket li:hover {
    transform: translateY(-5px); 
    transition: transform 0.3s ease; 
}

.Basket img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.Basket h1 {
    width: 200px;
    height: 50px;
    color: var(--primary-color);
}
.Basket p {
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: var(--primary-color);
}
.BasketOrder  {
    width: 200px;
    height: 50px;
    background-color: var(--button-color);
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.BasketOrder button:hover {
    background-color: var(--button-color-hover);
}

.BasketOrder p {
    width: 500px;
    height: auto;
    line-height: 50px;
    color: var(--primary-color);

}

.DelOrder {
    width: 100px;
    height: 30px;
    background-color: var(--button-color);
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Стили для планшетов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .app {
        width: 80%;
    }
    .Basket {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        padding: 15px;
    }
    .Basket li {
        padding: 15px;
        list-style-type: none;
        width: 150px;
        height: 205px;
        box-shadow: 0px 0px 3px 3px rgb(117, 116, 115);
        margin: 5px;
        padding: 25px;
        border-radius: 5px;
    }

    .Basket li:hover {
        transform: translateY(-5px); 
        transition: transform 0.3s ease; 
    }

    .Basket img {
        width: 100px;
        height: auto;
        border-radius: 5px;
    }

    .DelOrder {
        width: 100px;
        height: 25px;
        background-color: var(--button-color);
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
 /* Стили для мобильных устройств */
 @media only screen and (max-width: 600px) {
    .Basket ul {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 15px;
        padding: 15px;
    }
    .Basket li {
        padding: 15px;
        list-style-type: none;
        width: 150px;
        height: 205px;
        box-shadow: 0px 0px 3px 3px rgb(117, 116, 115);
        margin: 5px;
        padding: 25px;
        border-radius: 5px;
    }

    .Basket li:hover {
        transform: translateY(-5px); 
        transition: transform 0.3s ease; 
    }
    
    .Basket img {
        width: 100px;
        height: auto;
        border-radius: 5px;
    } 

    .Basket.p {
        width: 100px;
        height: 50px;
        line-height: 50px;
        color: var(--primary-color);
    }
    .DelOrder {
        width: 100px;
        height: 25px;
        background-color: var(--button-color);
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
} 