@import url(../colors.css);
@import url(../button.css);

.Order {
    width: 500px;
    height: auto;
    min-height: 150px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px rgb(117, 116, 115);
    position: absolute;
    top: 20%;
    left: calc(50% - 200px);
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    align-items: center;
}

.Order h1 {
    width: 100%;
    height: 50px; 
    line-height: 50px;
    font-size: 24px;
    font-weight: 600;  
}

.Order input {
    width: 100%;
    height: 30px; 
    margin-bottom: 5px;
}
.Order button {
    width: 90px;
    height: 30px; 
    margin-bottom: 5px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(117, 116, 115);
    cursor: pointer;
}